{% extends "main/base.html" %}{% block contentmain %}

<!-- crumbs section start -->
<section id="crumbs">
    <div class="container crumbs-bread">
        <div class="row">
            <div class="crumbs-info">
                <span class="crumbs-home"><a href="../main/index.html">Home</a></span> <i
                    class="fas fa-angle-right"></i>
                <span class="crumbs-about">Services</span>
            </div>
        </div>
    </div>
</section>
<!-- crumbs section end -->

<!-- section Services start -->
<section id="services-bar" class="section-padding">
    <div class="container width">
        <div class="row">
            <div class="col-12 ">
                <div class="section-heading">
                    <span class="section-heading-span">AREAS WHAT WE SERV</span>
                    <h2 class="section-heading-h2">Our Services</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4 services-box">
                <a href="#!" class="service-style">
                    <div class="services-item">
                        <div class="overlay"></div>
                        <i class=" services-icon material-icons material-icons-outlined md-icon1">settings</i>
                        <div class="services-info">
                            <i class=" services-icon-main material-icons material-icons-outlined md-icon1">settings</i>
                            <h2 class="section-item-h2">Corporate Solution</h2>
                            <p class="section-title">Contrary to popular belief, Lorem Ipsum is not simply random
                                text.
                                It has roots in a piece of classical Latin literature
                                from 45 BC, making it.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-4 services-box">
                <a href="#!" class="service-style">
                    <div class="services-item">
                        <div class="overlay"></div>
                        <i class=" services-icon material-icons material-icons-outlined md-icon1">perm_phone_msg</i>
                        <div class="services-info">
                            <i
                                class=" services-icon-main material-icons material-icons-outlined md-icon1">perm_phone_msg</i>
                            <h2 class="section-item-h2">Call Center Solutions</h2>
                            <p class="section-title">Contrary to popular belief, Lorem Ipsum is not simply random
                                text.
                                It has roots in a piece of classical Latin literature
                                from 45 BC, making it over 2000 years lo old.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-4 services-box">
                <a href="#!" class="service-style">
                    <div class="services-item">
                        <div class="overlay"></div>
                        <i class=" services-icon material-icons material-icons-outlined md-icon1">cloud_download</i>
                        <div class="services-info">
                            <i
                                class=" services-icon-main material-icons material-icons-outlined md-icon1">cloud_download</i>
                            <h2 class="section-item-h2">Cloud Development</h2>
                            <p class="section-title">There are many variations of passages of Lorem Ipsum available,
                                but
                                the majority have suffered alteration in some form,
                                by injected humour, or randomised words.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-4 services-box">
                <a href="#!" class="service-style">
                    <div class="services-item">
                        <div class="overlay"></div>
                        <i class=" services-icon material-icons material-icons-outlined md-icon1">laptop_mac</i>
                        <div class="services-info">
                            <i
                                class=" services-icon-main material-icons material-icons-outlined md-icon1">laptop_mac</i>
                            <h2 class="section-item-h2">IOS/MacOS Apps</h2>
                            <p class="section-title">Donec rutrum congue leo eget malesuada. Cras ultricies ligula
                                sed magna dictum porta. Curabitur arcu erat, accumsan id
                                imperdiet et, porttitor at sem.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-4 services-box">
                <a href="#!" class="service-style">
                    <div class="services-item">
                        <div class="overlay"></div>
                        <i class=" services-icon material-icons material-icons-outlined md-icon1">phone_android</i>
                        <div class="services-info">
                            <i
                                class=" services-icon-main material-icons material-icons-outlined md-icon1">phone_android</i>
                            <h2 class="section-item-h2">Android Applications</h2>
                            <p class="section-title">Cras ultricies ligula sed magna dictum porta. Vivamus magna
                                justo, lacinia eget consectetur sed, convallis at tellus.
                                Curabitur aliquet quam id dui posuere blandit.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-4 services-box">
                <a href="#!" class="service-style">
                    <div class="services-item">
                        <div class="overlay"></div>
                        <i class=" services-icon material-icons material-icons-outlined md-icon1">tv</i>
                        <div class="services-info">
                            <i class=" services-icon-main material-icons material-icons-outlined md-icon1">tv</i>
                            <h2 class="section-item-h2">UX And Design</h2>
                            <p class="section-title">Cras ultricies ligula sed magna dictum porta. Lorem ipsum dolor
                                sit amet, consectetur adipiscing elit. Pellentesque in
                                ipsum id orci porta dapibus. Proin eget tortor risus.</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- section Services end -->

{% endblock %}