#blue{
    width: 1250px;
    height: 200px;
    background-color: blue;
}
#red{
    width: 1250px;
    height: 200px;
    background-color: red;
}
#green{
    width: 1250px;
    height: 200px;
    background-color: green;
}