body{
    padding:0;
    margin: 0;
    font-family: 'Istok Web', sans-serif;
}
h1, h2, h3, h4 {
    font-family: Montserrat,sans-serif;
    margin: 0;
}
.padding-top-bottom{
    padding-top: 45px;
    padding-bottom: 45px;
}
.padding-bottom{
    padding-bottom: 50px;
}
.item {
    margin-bottom: 45px;
}
ul{
    margin:0;
    padding: 0;
    list-style: none;
}
/* header-contact-bar start */
#header-contact-bar{
    width: 100%;
    background-color: #303036;
    font-size: 14px;
    color: rgba(255,255,255,.8);
    font-family: 'Istok Web', sans-serif;
}
.contact{
    padding: 0.5%  0;
}
.mail-and-phone, .social-media{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.mail, .phone{
    color: #dbdbe2;
    transition: all .25s;
}
a:link{
    text-decoration: none;
}
.mail i{
    font-size: 13px;
    padding-right: 5px;
    color: aliceblue;
    transition: all .25s;
}
.mail:hover , .phone:hover{
    color: aliceblue;
    transition: all .25s;
}
.sosial-media-icon i{
    margin: 0px 8px;
    color: #dbdbe2;
    transition: all .25s;
}
.sosial-media-icon i:hover{
    color: aliceblue;
    transition: all .25s;
}
.ring i{
    font-size: 15px;
    padding-right: 4px;
    color: #dbdbe2;
    transition: all .25s;
}
.callback{
    font-size: 15px;
    color: #dbdbe2;
    border-bottom: 1px dashed #dbdbe2;
    transition: all .25s;
}
.ring:hover .callback{
    color:aliceblue;
    border-bottom: 1px  solid aliceblue ;
    transition: all .25s;
}
.ring:hover i{
    color: aliceblue;
    transition: all .25s;
}
.sosial-media-icon{
    margin-left: 18%;
}
/* header-contact-bar end  */

/* meniu-navbar start  */
#meniu-bar{
    box-sizing: border-box;
    box-shadow: 0.125rem 0.25rem 1.25rem 0.0875rem rgb(45 45 45 / 13%);
    font-family: "Istok Web",sans-serif;
    background-color: #fff;
    height: 75px;
}
.meniu-nav{
    width: 76%;
    margin:0 auto;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}
.meniu-item ul>li{
    text-decoration: none;
    padding-bottom: 20px;
    padding-left: 1.9rem;
}
.meniu-item{
    font-size: 1rem;
    height: 35px;
    color: #212222;
}
.meniu-item a:link{
    color: #212222;
    text-decoration: none;
}

.icon{
    font-size: 18px;
    vertical-align:middle;
    color: #2c7ae7;
}
.meniu-item >ul{
    padding: 0;
    margin: 0;
    float: right;
    list-style: none;
    position: relative;
    top: 10px;
    z-index: 3;
}
.meniu-item>ul{
    cursor:context-menu;
}
.meniu-nav ul>li{
    float: left;
    
}
.meniu-nav ul>li:hover>ul{
    opacity: 1;
    visibility: visible;
    top: 40px;
}
.meniu-nav ul li>ul{
    padding-top: 15px;
}

.meniu-nav ul ul{
    width: 200px;
    position: absolute;
    top: 50px;
    padding: 0;
    list-style: none;
    background-color: #fff;
    box-shadow: 0.125rem 0.25rem 1.25rem 0.0875rem rgb(45 45 45 / 13%);
    opacity: 0;
    visibility: hidden;
    transition: top .3s;
}

.meniu-nav ul ul li{
    position: relative;
    margin: 0;
    
    padding: 0 1.5625rem;
    height:35px;
    float: none;
    display: list-item;
}

.logo img{
    vertical-align:middle;
}
.logo span{
    font-size: 1.125rem;
    color:#303036;
    text-decoration: none;
}
.logo{
    align-items: center;  
}





.menu-list-to span::after {
    content: attr(data-title);
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(-100%);
    width: 100%;
    transition: all .4s;
    color: #2c7ae7;
    text-align: left;
}
.menu-list-to>span {
    transition: all .5s ease;
}
.menu-list-to {
    position: relative;
    display: flex;
    color: black;
    align-items: center;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
}
.menu-list-to:hover>span {
    transform: translateY(100%);
}
.menu-list-to span:hover~.material {
    transform: rotateX(180deg );
}

.material {
    transform: rotateX(0deg );
    margin-left: 3px;
    font-size: 18px;
    width: 18px;
    height: 18px;
    color: #2c7ae7;
    transition: all .4s;
    margin-right: 0;
    -webkit-transform: rotateX(0deg );
    -moz-transform: rotateX(0deg );
    -ms-transform: rotateX(0deg );
    -o-transform: rotateX(0deg );
}
.menu-list-to:hover .material{
    transform: rotateX(180deg );
}
.menu-search> a{
    transition: all .3s;
}
.menu-search:hover> a{
    color: #2c7ae7;
    transition: all .2s;
}
.mnu-label {
    font-size: .5rem;
    text-transform: uppercase;
    color: #fff;
    padding: 1px 3px;
    background-color: #ff3d0d;
    position: absolute;
    right: 0;
    top: 0;
    font-weight: 600;
    z-index: 1;
}
/* meniu-navbar end  */
/*  crumbs section start  */
#crumbs{
    width: 100%;
    background-color: #f0f4f8;
}
.crumbs-bread{
    padding-top: 18px ;
    padding-bottom: 18px ;
}
.crumbs-info{
    font-size: 14px;
}
.crumbs-home a{
    color: #63636b;
    padding-left: 10px;
} 
.crumbs-home a:hover{
    text-decoration: underline;
}
.crumbs-info i{
    color:#2c7ae7;
    padding:0px 7px
}
.crumbs-about{
    color:#2c7ae7;
}
/* crumbs section end  */

.section-heading{
    margin-bottom: 56px;
    text-align: center;
}

 .section-heading-span{
    font-size: 1rem;
    color: #2c7ae7;
    font-family: "Istok Web",sans-serif;
 }
 .section-heading-h2{
    font-weight: 700;
    font-size: 2.5rem;
    margin: 0px;
    margin-top: 10px;
    font-family: "Istok Web",sans-serif;
    color: #3b3b44;
 }
 .bttn{
    width: 215px;
    font-size: 14px;
    background: linear-gradient(to right,#568ad3 0,#0f58bd 100%);
    color:white;
    padding: 12px 22px;
    border-radius: 6px;
    -webkit-border-radius: 6px    ;
    -moz-border-radius: 6px    ;
    -ms-border-radius: 6px    ;
    -o-border-radius: 6px    ;
}
.bttn:hover{
    color: white;
    background: linear-gradient(to left,#568ad3 0,#0f58bd 100%);
    transition: ease-out .2s all;
    -webkit-transition: ease-out .2s all;
    -moz-transition: ease-out .2s all;
    -ms-transition: ease-out .2s all;
    -o-transition: ease-out .2s all;
}
.bttn-row{
    display: flex;
    justify-content: center;
    text-align: center;
}

 .news-blog-item {
    position: relative;
    display: flex;
}
.news-blog-item a:hover {
    text-decoration: none;
    color: #2c7ae7;
}.news-blog-item a{
    text-decoration: none;
}

.img-style {
    border: 1px solid #d4d4e1;
    background-color: #f0f4f8;
    border-radius: .625rem;
    overflow: hidden;
}
.news-blog-item-img {
    display: block;
    height: 200px;
    min-width: 250px;
    width: 250px;
}
.news-blog-item img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-style: none;
}
.news-blog-item-info {
    margin-top: 5px;
    padding-left: 1.5625rem;
    width: 100%;
}
.news-blog-item-info a{
    color: #303036 ;
    transition: all .3s;
}
.news-blog-item-title {
    margin-bottom: .625rem;
}
.news-blog-item-row{
    display: flex;
    font-size: 1rem;
    color: #63636b;
}
.news-blog-item-row-date{
    margin-right: 10px;
}

.news-blog-item-row-author a, .news-blog-item-more a{
    color: #2c7ae7;
}
.news-blog-item-row-author a:hover{
    text-decoration: underline;
}
.news-blog-item-text p{
    padding: 0;
    margin: 0;
}
.news-blog-item-text{
    margin: 20px 0;
    font-size: 16px;
    color: #63636b;
    line-height: 1.625;
}
.news-blog-item-more .fas{
    position: relative;
    top: 2px;
}
.news-blog-item-more a:hover{
    color:#5d96e7;
}
.news-blog-item-more a:hover >i {
    transition: all .25s ease;
    transform: rotateY(180deg);;
}
.blog-sidebar-title{
    font-family: 'Istok Web', sans-serif;
    background-color: #f0f4f8;
    background-position: center;
    background-size: cover;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
}
.blog-search{
    padding: calc(.75em - 1px) 1rem;
    font-weight: 400;
    width: 100%;
    font-size: 1rem;
    border-radius: .375rem;
    border: 1px solid #d4d4e1;
    outline: 0;
    color: #303036;
    transition: all .1;
}

.search-btn {
    position: absolute;
    right: 25px;
    top: 23px;
    transform: translateY(-50%);
    padding: 0;
    margin: 0;
    border: none;
    background: 0 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: all .25s;
    outline: none;
}
.search-btn:focus i{
    color:#568ad3;
}

.item-title {
    font-size: 1.125rem;
    font-weight: 700;
}
.sidebar-item-title {
    line-height: 1.2;
    font-family: Montserrat,sans-serif;
    margin-bottom: 1.5rem;
}
.blog-sidebar-title h4{
    color: #3b3b44;
}
.blog-sidebar-title p {
    margin: 0 0 2rem 0;
    line-height: 24px;
    font-size: 15px;
}
.sidebar-item-desc {
    font-size: 1rem;
    margin-bottom: 1.25rem;
    color: #63636b;
}
.form-field {
    position: relative;
    margin-bottom: 1.25rem;
}
.form-field .form-field-label,.form-field input[type=email]{
    margin: 0;
}
.form-field-label {
    font-size: 1rem;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    pointer-events: none;
    color: #b7b7ba;
    padding: calc(.75em - 1px) 1rem;
    transition: all .2s;
    border: 1px solid transparent;
    opacity: 1;
    visibility: visible;
    transform: none;
}
label {
    display: inline-block;
}
input[type=email]{
    display: block;
    font-size: 1rem;
    font-weight: 400;
    width: 100%;
    padding: calc(.75em - 1px) 1rem;
    border-radius: .375rem;
    border: 1px solid #d4d4e1;
    outline: 0;
    color: #303036;
    transition: all .25s;
}
input[type=email]:focus{
    border: solid 1px #568ad3; 
}
input {
    overflow: visible;
}
.btn.btn-w240 {
    width: 100%;
}
[type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}
.ripple {
    position: relative;
    overflow: hidden;
}
.btn {
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
    fill: #fff;
    background: linear-gradient(to right,#2876e2 0,#3f8efc 100%);
    text-decoration: none;
    padding: .75em 1.75em;
    border-radius: .375rem;
    outline: 0;
    border: none;
    transition: all .25s;
}
.btn:hover{
    background: linear-gradient(to left,#2876e2 0,#3f8efc 100%);
}

.blog-sidebar-future h4 {
    line-height: 1.2;
    margin-bottom: 1.5rem;
}
.blog-sidebar-future ul{
    margin:0;
    padding: 0;
    list-style: none;
}
.sidebar-tags {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -.625rem;
    margin-left: -1rem;
    font-size: 1rem;
}

.sidebar-tags li {
    margin-right: 1rem;
    margin-bottom: .768rem;
}

.sidebar-tags li a{
    color: #2c7ae7;
}
.sidebar-tags li a:hover{
    color: #2c7ae7;
    text-decoration: underline;
}
.sidebar-recent-posts li {
    margin-bottom: 1.25rem;
}
.sidebar-recent-post {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1rem;
    color: #303036;
    font-weight: 700;
}
.img-style {
    border: 1px solid #d4d4e1;
    background-color: #f0f4f8;
    border-radius: .625rem;
    overflow: hidden;
}
.sidebar-recent-post-img {
    height: 75px;
    min-width: 85px;
    width: 85px;
}
.sidebar-recent-post-title {
    text-decoration: none;
    padding-left: .625rem;
    line-height: 1.625;
    font-size: 15px;
    transition: ease .25s;
    font-family: Montserrat,sans-serif;
}
.sidebar-recent-post-title:hover{
    color:#2c7ae7;
    transition: ease .25s;
}
.img-style img {
    margin: 0;
}

.sidebar-recent-post-img img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
img {
    vertical-align: middle;
    border-style: none;
}


.item-border-radius {
    border-radius: .625rem;
}

.section-bg {
    background-color: #f0f4f8;
    background-position: center;
    background-size: cover;
}
.sibebar-item-bg {
    position: relative;
    padding: 1.5rem 1rem;
}
.item-title {
    font-size: 1.125rem;
    font-weight: 700;
}
.sidebar-item-title {
    line-height: 1.2;
    font-family: Montserrat,sans-serif;
    margin-bottom: 1.5rem;
}
.blog-sidebar-categories p {
    margin: 0 0 2rem 0;
}
.sidebar-cat-item {
    margin-bottom: .75rem;
    font-size: 1rem;
    display: flex;
    color: #63636b;
}
.sidebar-cat-item a {
    color: #63636b;
    display: block;
    width: 100%;
    text-decoration: none;
    transition: all .25s;
    font-size: 14px;
}
.sidebar-cat-item a:hover {
    color: #2c7ae7;
    transition: all .25s;
}
.sidebar-cat-count {
    margin-left: .625rem;
    min-width: 1.125rem;
    text-align: right;
}
/* footer section start */
#footer, #copyright{
    border-bottom: solid 1px #72727c;
    background-color: #303036;
    width: 100%;
    color: #fff;
}

.footer-item span{
    color:white;
}
.company-sosial-media{
    display: flex;
    font-size: 18px;
    color: white;
    margin-top: 50px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transition: all .1s;
    -webkit-transition: all .1s;
    -moz-transition: all .1s;
    -ms-transition: all .1s;
    -o-transition: all .1s;
}
.company-sosial-icon{
    padding: 0px 1px;
    padding-top: 6px;
    text-align: center;
    width:30px;
    border: 1px solid #868691;;
    background-color: #303036;
    margin: 0px 4px;
    transition: ease-out .1s all;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-transition: ease-out .1s all;
    -moz-transition: ease-out .1s all;
    -ms-transition: ease-out .1s all;
    -o-transition: ease-out .1s all;
}
.company-sosial-icon:hover{
    background-color:#ecf7f6;
    border: 1px solid #ecf7f6;
    color:#303036;
    padding: 0px 1px;
    padding-top: 6px;
    width:30px;
    margin: 0px 4px;
    transition: ease-out .1s all;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-transition: ease-out .1s all;
    -moz-transition: ease-out .1s all;
    -ms-transition: ease-out .1s all;
    -o-transition: ease-out .1s all;
}
.company-sosial-icon .fab{
    color:white;
}
.company-sosial-icon:hover .fab{
    color:#303036;;
}
.company-info {
    font-size: 14px;
    line-height: 25px;
    color:#c6cdce;
}

.company-contacts-item{
    font-size: 14px;
}
.company-menu h4, .company-contacts h4{
    margin-top: 0px;
}
.turn {
    font-size: 14px;
    width:100% ;
    height: 20px;
    margin: 20px 0px;
    overflow: hidden;
    position: relative; 
}
.turnsecond{
    font-size: 14px;
    width:100% ;
    height: 20px;
    margin: 20px 0px;
    overflow: hidden;
    position: relative;
}
.turn1{
    color:#c6cdce;
    position: absolute;
    top: 0px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}
.turn2{
    color:#c6cdce;
    position: absolute;
    top: -20px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}
.turn:hover .turn1 {
    top: 20px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}
.turn:hover .turn2 {
    top: 0px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}
.turnsecond:hover .turn1{
    top: 20px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}
.turnsecond:hover .turn2 {
    top: 0px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}
.company-contacts-item{
    color: #c6cdce;
}
.company{
    margin: 20px 0px;
}
.location i{
    margin-right: 8px;
}
.contacts i{
    margin-right: 9px;
}
.phone1, .phone2{
    color:#c6cdce;  
}
.phone1:hover , .phone2:hover, .company-mail span:hover{
    text-decoration: underline;
}
.company-mail span{
    color:#c6cdce;
}
.company-mail i{
    margin-right: 9px;
}
.company-contacts-form h4{
    color: #fff;
}
.form-email{
    color: #c6cdce;
    width: 70%;
    height: 40px;
    border: 1px #c6cdce solid;
    padding: 0px 8px;
    background-color: #303036;
    margin-right: 10px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    outline: 0;
}
.form-email:focus{
    border: solid 1px #568ad3;
}
.form-subscribe{
    color: white;
    width: 25%;
    height: 43px;
    border: 1px #917cddec solid;
    background: linear-gradient(to right,#568ad3 0,#0f58bd 100%);
    padding: 0px 0px;
    border-radius: 5px;
    cursor:pointer;
    outline: 0;
}
.form-subscribe:hover{
   background: linear-gradient(to left,#568ad3 0,#0f58bd 100%);
}
/* footer section end */
/* footer Copyright start */
.copyright-item{
    display: flex;
    justify-content: flex-start;
    font-size: 13px;
    color:#c6cdce
}
.conditions, .privacy{
    margin-right: 8px;
    color:#c6cdce;
    border-bottom: dashed #c6cdce 1px;
}
.conditions:hover, .privacy:hover{
    border-bottom: solid #c6cdce 1px;
}
/* footer Copyright end */