body{
    padding:0;
    margin: 0;
    font-family: 'Istok Web', sans-serif;
}
h1, h2, h3, h4{
    font-family: Montserrat,sans-serif;
}
.padding-top-bottom{
    padding-top: 45px;
    padding-bottom: 45px;
}
.padding-bottom{
    padding-bottom: 50px;
}
/* header-contact-bar start */
#header-contact-bar{
    width: 100%;
    background-color: #303036;
    font-size: 16px;
    color: rgba(255,255,255,.8);
    font-family: 'Istok Web', sans-serif;
}
.contact{
    padding: 0.5%  0;
}
.mail-and-phone, .social-media{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.mail, .phone{
    color: #dbdbe2;
    transition: all .25s;
}
a:link{
    text-decoration: none;
}
.mail i{
    font-size: 13px;
    padding-right: 5px;
    color: aliceblue;
    transition: all .25s;
}
.mail:hover , .phone:hover{
    color: aliceblue;
    transition: all .25s;
}
.sosial-media-icon i{
    margin: 0px 8px;
    color: #dbdbe2;
    transition: all .25s;
}
.sosial-media-icon i:hover{
    color: aliceblue;
    transition: all .25s;
}
.ring i{
    font-size: 15px;
    padding-right: 4px;
    color: #dbdbe2;
    transition: all .25s;
}
.callback{
    font-size: 15px;
    color: #dbdbe2;
    border-bottom: 1px dashed #dbdbe2;
    transition: all .25s;
}
.ring:hover .callback{
    color:aliceblue;
    border-bottom: 1px  solid aliceblue ;
    transition: all .25s;
}
.ring:hover i{
    color: aliceblue;
    transition: all .25s;
}
.sosial-media-icon{
    margin-left: 18%;
}
/* header-contact-bar end  */

/* meniu-navbar start  */
#meniu-bar{
    box-sizing: border-box;
    box-shadow: 0.125rem 0.25rem 1.25rem 0.0875rem rgb(45 45 45 / 13%);
    font-family: "Istok Web",sans-serif;
    background-color: #fff;
    height: 75px;
}
.meniu-nav{
    width: 76%;
    margin:0 auto;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}
.meniu-nav ul>li{
    text-decoration: none;
    padding: 0 15px;
    padding-bottom: 20px;
}
.meniu-item{
    font-size: 14px;
    height: 35px;
    color: #212222;
}
.meniu-item a:link{
    color: #212222;
    text-decoration: none;
}

.icon{
    font-size: 18px;
    vertical-align:middle;
    color: #2c7ae7;
}
.meniu-nav ul{
    padding: 0;
    margin: 0;
    float: right;
    list-style: none;
    position: relative;
    top: 10px;
    z-index: 3;
}
.meniu-nav ul{
    cursor:context-menu;
}
.meniu-nav ul  li{
    float: left;
}
.meniu-nav ul  li:hover>ul{
    opacity: 1;
    visibility: visible;
    top: 40px;
}
.meniu-nav ul >li>ul{
    padding-top: 15px;
}
.meniu-nav ul ul{
    position: absolute;
    top: 50px;
    background-color: #fff;
    box-shadow: 0.125rem 0.25rem 1.25rem 0.0875rem rgb(45 45 45 / 13%);
    opacity: 0;
    visibility: hidden;
    transition: top .3s;
    -webkit-transition: top .3s;
    -moz-transition: top .3s;
    -ms-transition: top .3s;
    -o-transition: top .3s;
}
.meniu-nav ul ul li{
    position: relative;
    margin: 0;
    width: 170px;
    padding: 0 0;
    padding-left: 20px;
    height:35px;
    float: none;
    display: list-item;
}

.logo img{
    vertical-align:middle;
}
.logo span{
    font-size: 1.125rem;
    color:#303036;
    text-decoration: none;
}
.logo{
    align-items: center;  
}
/* meniu-navbar end  */
/*  crumbs section start  */
#crumbs{
    width: 100%;
    background-color: #f0f4f8;
}
.crumbs-bread{
    padding-top: 18px ;
    padding-bottom: 18px ;
}
.crumbs-info{
    font-size: 14px;
}
.crumbs-home a{
    color: #63636b;
    padding-left: 10px;
} 
.crumbs-home a:hover{
    text-decoration: underline;
}
.crumbs-info i{
    color:#2c7ae7;
    padding:0px 7px
}
.crumbs-about{
    color:#2c7ae7;
}
/* crumbs section end  */
 /* section Services start */
#services-bar{
    width: 100%;
}
.services-box{
    height: 100%;
}
.services-item{
    margin-bottom: 26px;
    padding: 25px 20px;
    border: 1px solid rgb(182, 182, 190);
    height: 100%;
    position: relative;
    overflow: hidden;
    text-align: center;
    color: #3b3b44;
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
}
.services-item p{
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 23px;
}
.services-item:hover {
    color:white;
    border: #9d9da3 solid 1px;
    background-color: rgba(72, 72, 235, 0.897);
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

.services-icon {
    font-size: 400px;
    color: darkblue;
    opacity: 0;
    transition: all .3s ease;
    position: absolute;
    left: -10px;
    top: 15px;
    z-index: 1;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}
.services-item:hover .services-icon {
    opacity: 1;
    color: white;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}
.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left:0px;
    top:0px;
    z-index: 2;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
}
.services-item:hover .overlay {
    background-color: rgba(74, 52, 201, 0.842);
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
}
.services-info{
    position: relative;
    z-index: 2;
        
}
.services-icon-main{
    color: white;
    background: #2c7ae7;
    padding: 24px 24px;
    font-size: 35px;
    border: 1px solid white;
    transition: all .3s ease;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}
.services-item:hover .services-icon-main{
    color:#2c7ae7;
    background: white;
    border: 1px solid #2c7ae7;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}
.section-heading{
    margin-bottom: 56px;
    text-align: center;
}
.section-heading p{
    padding-top: 8px;
    font-size: 14px;
    color: #63636b;
    line-height: 24px;
}
 .section-heading-span{
    font-size: 1rem;
    color: #2c7ae7;
 }
 .section-heading-h2{
    font-weight: 700;
    font-size: 2.5rem;
    margin: 0px;
    margin-top: 10px;
    font-family: Montserrat,sans-serif;
    color: #3b3b44;
 }
.bttn{
    width: 200px;
    background-color:#2876e2;
    color:white;
    border: #2876e2 solid 1px;
    padding: 10.5px 24.5px;
    border-radius: 6px;
    -webkit-border-radius: 6px    ;
    -moz-border-radius: 6px    ;
    -ms-border-radius: 6px    ;
    -o-border-radius: 6px    ;
}
.bttn:hover{
    color: white;
    background: linear-gradient(to left,#568ad3 0,#0f58bd 100%);
    border: #4d8ee9 solid 1px;
    transition: ease-out .2s all;
    -webkit-transition: ease-out .2s all;
    -moz-transition: ease-out .2s all;
    -ms-transition: ease-out .2s all;
    -o-transition: ease-out .2s all;
}
.bttn-row{
    display: flex;
    justify-content: center;
    margin-top: 65px;
    text-align: center;
}
.bttn-row .fas{
    font-size:14px;
}
/* section Services end  */
/* footer section start */
#footer, #copyright{
    border-bottom: solid 1px #72727c;
    background-color: #303036;
    width: 100%;
    color: #fff;
}

.footer-item span{
    color:white;
}
.company-sosial-media{
    display: flex;
    font-size: 18px;
    color: white;
    margin-top: 50px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transition: all .1s;
    -webkit-transition: all .1s;
    -moz-transition: all .1s;
    -ms-transition: all .1s;
    -o-transition: all .1s;
}
.company-sosial-icon{
    padding: 0px 1px;
    padding-top: 6px;
    text-align: center;
    width:30px;
    border: 1px solid #868691;;
    background-color: #303036;
    margin: 0px 4px;
    transition: ease-out .1s all;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-transition: ease-out .1s all;
    -moz-transition: ease-out .1s all;
    -ms-transition: ease-out .1s all;
    -o-transition: ease-out .1s all;
}
.company-sosial-icon:hover{
    background-color:#ecf7f6;
    border: 1px solid #ecf7f6;
    color:#303036;
    padding: 0px 1px;
    padding-top: 6px;
    width:30px;
    margin: 0px 4px;
    transition: ease-out .1s all;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-transition: ease-out .1s all;
    -moz-transition: ease-out .1s all;
    -ms-transition: ease-out .1s all;
    -o-transition: ease-out .1s all;
}
.company-sosial-icon .fab{
    color:white;
}
.company-sosial-icon:hover .fab{
    color:#303036;;
}
.company-info {
    font-size: 14px;
    line-height: 25px;
    color:#c6cdce;
}
/* .company-menu{
    margin-right: 25%;
} */
.company-contacts-item{
    font-size: 14px;
}
.company-menu h4, .company-contacts h4{
    margin-top: 0px;
}
.turn {
    font-size: 14px;
    width:100% ;
    height: 20px;
    margin: 20px 0px;
    overflow: hidden;
    position: relative; 
}
.turnsecond{
    font-size: 14px;
    width:100% ;
    height: 20px;
    margin: 20px 0px;
    overflow: hidden;
    position: relative;
}
.turn1{
    color:#c6cdce;
    position: absolute;
    top: 0px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}
.turn2{
    color:#c6cdce;
    position: absolute;
    top: -20px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}
.turn:hover .turn1 {
    top: 20px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}
.turn:hover .turn2 {
    top: 0px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}
.turnsecond:hover .turn1{
    top: 20px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}
.turnsecond:hover .turn2 {
    top: 0px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}
.company-contacts-item{
    color: #c6cdce;
}
.company{
    margin: 20px 0px;
}
.location i{
    margin-right: 8px;
}
.contacts i{
    margin-right: 9px;
}
.phone1, .phone2{
    color:#c6cdce;  
}
.phone1:hover , .phone2:hover, .company-mail span:hover{
    text-decoration: underline;
}
.company-mail span{
    color:#c6cdce;
}
.company-mail i{
    margin-right: 9px;
}
.company-contacts-form h4{
    color: #fff;
}
.form-email{
    color: #c6cdce;
    width: 70%;
    height: 40px;
    border: 1px #c6cdce solid;
    padding: 0px 8px;
    background-color: #303036;
    margin-right: 10px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    outline: 0;
}
.form-email:focus{
    border: solid 1px #568ad3;
}
.form-subscribe{
    color: white;
    width: 25%;
    height: 43px;
    border: 1px #917cddec solid;
    background: linear-gradient(to right,#568ad3 0,#0f58bd 100%);
    padding: 0px 0px;
    border-radius: 5px;
    cursor:pointer;
    outline: 0;
}
.form-subscribe:hover{
   background: linear-gradient(to left,#568ad3 0,#0f58bd 100%);
}
/* footer section end */
/* footer Copyright start */
.copyright-item{
    display: flex;
    justify-content: flex-start;
    font-size: 13px;
    color:#c6cdce
}
.conditions, .privacy{
    margin-right: 8px;
    color:#c6cdce;
    border-bottom: dashed #c6cdce 1px;
}
.conditions:hover, .privacy:hover{
    border-bottom: solid #c6cdce 1px;
}
/* footer Copyright end */
