body{
    margin: 0px;
    font-family: 'Istok Web', sans-serif;
}
h1, h2, h3, h4{
    font-family: Montserrat,sans-serif;
}
#hd{
    width: 100%;
    background-color:#303036 ;
    background-size: cover;
    font-size: 16px;
    padding: 11px 0px;
    color: rgba(255,255,255,.8); 
}
.hd-container, .services{
    display: flex;
    justify-content:  space-between; 
    width: 75%;
    margin: 0px auto; 
    align-items: center;

}
.hd-contact-info{
    display: flex;
}
.info-phone{
    margin: 0px 18px;
}
.mail{
    margin-left:  8px;
}
.info-mail .fas{
    color: aliceblue; 
    font-size: 13px;
}
a:link{
    text-decoration: none;
}
.info-mail{
    color:rgba(255,255,255,.8);
}
.info-mail:hover {
    color: aliceblue;
}
.hd-social-media .fab{
    margin-right: 20px;
    color: rgba(255,255,255,.8);
}
.hd-social-media .fab:hover{
    color:aliceblue;
}
.hd-social-media{
    display: flex;
}
.call{
    margin-left: 25px;
    display: flex;
    color:rgba(255,255,255,.8);
}
.call:hover{
    color: aliceblue;
}
.callback{
    border-bottom: dashed 1px;
    margin-left:5px ;

}
 .callback:hover{
    border-bottom: solid aliceblue 1px ;
} 
.call i{
    font-size: 19px;
}
.call:hover .callback{
    border-bottom: 1px  solid aliceblue ;
}
.info-phone a:link span{
    color:rgba(255,255,255,.8)
}
.info-phone a:link span:hover{
    color:aliceblue;
}
/* heared-bar end  */

/* meniu-navbar start  */
#nb{
    width: 100%;
    color: #303036;
    font-size: 1rem;
    padding: 25px 0px;
    box-shadow: 0 0 0.3125rem 0 rgba(105, 98, 98, 0.8);
    position: relative;
    z-index: 100;
}
.meniu-bar{
    display: flex;
}
.logo img{
    vertical-align:middle;
}
.logo span{
    font-size: 1.125rem;
    color:#303036;
}
.logo{
    align-items: center;  
}
.menu-top-bar{
    padding: 0px;
}
.menu-bar{
    align-items: center;
    width:80% ;
    height: 20px;
    font-size: 14px;
    margin:7px 5px;
    overflow: hidden;
    position: relative;

}
.menu-bar i{
    margin-left: 4px;
    color:#2c7ae7;
}
.home, .pages {
    width:65%;
    margin-left: 75%;
}
.blog{
    width: 55%;
    margin-left: 80%;
}
.contactus{
    width: 95%;
    margin-left: 60%;
}
.gallery{
    width: 70%;
    margin-left: 60%;
}
.services{
    margin-left: 70%;
}
.aboutus{
    margin-left: 65%;
}
.en{
    width: 26%;
    margin-left: 90%;
}
.search{
    width: 30%;
    margin-left: 38px;
    margin-right: 0px;
}
.menu-bar-search{
   margin-left: 0; 
}
.menu-bar-search i{
    color:#303036;
    transition: all .3s ease;
}
.menu-bar-search:hover i{
    color:#2c7ae7;
    transition: all .3s ease;
}
.menu-bar-link1{
    color:#212222;
    position: absolute;
    top: 0px;
    transition: all .3s ease;
}
.menu-bar-link2{
    color:#2c7ae7;
    position: absolute;
    top: -20px;
    transition: all .3s ease;
}
.menu-bar:hover .menu-bar-link1 {
    top: 20px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}
.menu-bar:hover .menu-bar-link2 {
    top: 0px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}
hr{
    margin: 0px;
}
/* meniu-navbar end  */

/* slider section start  */
#sm{
    height: 565px;
    position: relative;
    cursor:grab;
}

.slider-item{
    width: 100%;
    height: 100%;
    background-image: url('../img/intro-img1.jpg');
    background-position: center top  ; 
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}
.slider-control{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    width: 100%;
    top: 95%;
}
.slider-control ul{
    margin:0px;
    padding: 0px;
    display: flex;
    justify-content: center;
}
.slider-control ul li{
    list-style: none;
    font-size: 10px;
    margin: 0px 10px;
    color: #303036;
}
.slider-control ul li:hover{
    color:#2876e2
    
}
.slider-content h1{
    color: #3b3b44;
    font-size: 2.5rem;
    font-family: Montserrat,sans-serif;
    line-height: 50px;
}
.slider-content p{
    color: #63636b;
    width: 400px;
    line-height: 23px;
}
.slider-content{
    width: 850px;
    margin: 0 auto;
    text-align: left;
}
.button{
    display: flex;
    font-size: 14px;
}
.bttn-blue{
    background-color:#2876e2;
    color:white;
    border: #2876e2 solid 1px;
    padding: 10.5px 24.5px;
    border-radius: 6px;
    -webkit-border-radius: 6px    ;
    -moz-border-radius: 6px    ;
    -ms-border-radius: 6px    ;
    -o-border-radius: 6px    ;
}
.bttn-blue:hover{
    color:white;
    background: linear-gradient(to left,#568ad3 0,#0f58bd 100%);
    border: #4d8ee9 solid 1px;
    transition: all .1s  ease-in-out ;
    -webkit-transition: all .1s  ease-in-out ;
    -moz-transition: all .1s  ease-in-out ;
    -ms-transition: all .1s  ease-in-out ;
    -o-transition: all .1s  ease-in-out ;
}
.bttn-none{
    border:#303036 solid 1px;
    padding: 10.5px 24.5px;
    color: #19191d;
    border-radius: 6px ;
    transition: ease-out .3s all;
}
.bttn-none:hover{
    color: blanchedalmond;
    background: linear-gradient(to right,#111111 0,#3d3e3f98 100%);
    transition: ease-out .3s all;
    -webkit-transition: ease-out .3s all;
    -moz-transition: ease-out .3s all;
    -ms-transition: ease-out .3s all;
    -o-transition: ease-out .3s all;
}
.button i {
    margin-left: 5px;
}
.none{
    padding: 10.5px 12px;
}
/* slider section end  */
/* section Services start */
#services{
    text-align: center;
    
}
.section-heading{
    margin-bottom: 56px;
    text-align: center;
}
.section-heading p{
    padding-top: 8px;
    font-size: 14px;
    color: #63636b;
    line-height: 24px;
}
 .section-heading-span{
    font-size: 1rem;
    color: #2c7ae7;
 }
 .section-heading-h2{
    font-weight: 700;
    font-size: 2.5rem;
    margin: 0px;
    margin-top: 10px;
    font-family: Montserrat,sans-serif;
    color: #3b3b44;
 }
 .services-item{
     height: 80%;
    color: #3b3b44;
    margin: 0px 15px;
    border:#9d9da3 solid 1px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    padding: 25px 10px;
    transition: all .25s .1s;
    -webkit-transition: all .25s .1s;
    -moz-transition: all .25s .1s;
    -ms-transition: all .25s .1s;
    -o-transition: all .25s .1s;
}

.services-item:hover{
    color:white;
    border:#9d9da3 solid 1px;
    background-color: rgba(90, 37, 238, 0.973);
    transition: all .25s .1s;
    -webkit-transition: all .25s .1s;
    -moz-transition: all .25s .1s;
    -ms-transition: all .25s .1s;
    -o-transition: all .25s .1s;
}
.services-item:hover i{
    color:#2c7ae7;
    background:white ;
    transition: all .25s .1s;
    -webkit-transition: all .25s .1s;
    -moz-transition: all .25s .1s;
    -ms-transition: all .25s .1s;
    -o-transition: all .25s .1s;
}
.services-item:hover .services-title{
    color:white;
    transition: all .25s .1s;
    -webkit-transition: all .25s .1s;
    -moz-transition: all .25s .1s;
    -ms-transition: all .25s .1s;
    -o-transition: all .25s .1s;
}
 .services-item i{
     color:white;
     background:#2c7ae7 ;
     padding: 24px 24px;
     font-size: 35px;
     transition: all .25s .1s;
    -webkit-transition: all .25s .1s;
    -moz-transition: all .25s .1s;
    -ms-transition: all .25s .1s;
    -o-transition: all .25s .1s;
     border-radius: 50px;
     -webkit-border-radius: 50px;
     -moz-border-radius: 50px;
     -ms-border-radius: 50px;
     -o-border-radius: 50px;
}
.services-title{
    color:#63636b;
    font-size: .928rem;
    margin: 0px 10px;
    transition: all .25s .1s;
    -webkit-transition: all .25s .1s;
    -moz-transition: all .25s .1s;
    -ms-transition: all .25s .1s;
    -o-transition: all .25s .1s;
}
.bttn{
    width: 200px;
    background-color:#2876e2;
    color:white;
    border: #2876e2 solid 1px;
    padding: 10.5px 24.5px;
    border-radius: 6px;
    -webkit-border-radius: 6px    ;
    -moz-border-radius: 6px    ;
    -ms-border-radius: 6px    ;
    -o-border-radius: 6px    ;
}
.bttn:hover{
    color: white;
    background: linear-gradient(to left,#568ad3 0,#0f58bd 100%);
    border: #4d8ee9 solid 1px;
    transition: ease-out .2s all;
    -webkit-transition: ease-out .2s all;
    -moz-transition: ease-out .2s all;
    -ms-transition: ease-out .2s all;
    -o-transition: ease-out .2s all;
}
.bttn-row{
    display: flex;
    justify-content: center;
    margin-top: 65px;
    text-align: center;
}
.bttn-row .fas{
    font-size:14px;
}
/* section Services end  */
/* Reasons section start  */
#reasons, #news{
    background-color: #f0f4f8;
    background-size: cover;
    
}
.reasons-item{
    display: flex;
    justify-content: center;
    padding: 0 30px;
    
}
.reasons-item-number{
    margin-top: 4px;
    padding: 2px 0px;
    font-family: Montserrat,sans-serif;
    font-weight: 700;
    color: #2c7ae7;
    
}
.reasons-item-info p{
    color: #63636b;
    font-size: 14px;
    line-height: 22px;
}
.reasons-item-info h2{
    margin: 0;
    color: #3b3b44;
    
}
.reasons-hr{
    margin-left: 4px;
    margin-right: 4px;
    margin-top:14px ;
    border-top: solid 1px black;
    width: 95px;
    height: 10px;
}
/* Reasons section end  */
/* Team-info section start */

.team-item{
    margin: 0 15px;
    margin-bottom:45px;
    position: relative;
    padding-bottom: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border:#adadb3 solid 1px;
    overflow: hidden;
    transition: ease-out .2s all;
    -webkit-transition: ease-out .1s all;
    -moz-transition: ease-out .2s all;
    -ms-transition: ease-out .2s all;
    -o-transition: ease-out .2s all;
}
.team-social-media .fab{
    color: white; 
}
.team-icon{
    padding: 0px 2px;
    padding-top: 4px;
    text-align: center;
    align-items: center;
    width:20px;
    height: 20px;
    border: 1px solid #2c7ae7;
    background-color: #2c7ae7;
    margin: 0px 2px;
    transition: ease-out .2s all;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    align-items: center;
}
.team-icon:hover{
    background-color:rgba(105, 98, 98, 0);
    border: 1px solid #2c7ae7;
    padding: 0px 2px;
    padding-top: 4px;
    text-align: center;
    align-items: center;
    width:20px;
    height: 20px;
    margin: 0px 2px;
    align-items: center;
    transition: ease-out .2s all;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.team-icon:hover .fab{
    
    color:#2c7ae7;
}
.team-social-media{
    display: flex;
    font-size: 13px;
    opacity: 0;
    color: white;
    position: absolute;
    left:23% ;
    top: 67%;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
}
.team-item:hover .team-social-media{
     opacity: 1;
     transform: translateY(10px);
     -webkit-transform: translateY(10px);
     -moz-transform: translateY(10px);
     -ms-transform: translateY(10px);
     -o-transform: translateY(10px);
     color:#2c7ae7;  
}
.team-item:hover{
    box-shadow:  0 0 0.8125rem 0 rgb(196, 183, 183);
}
.team-info-title{
    text-align: center;
    margin:13px 0px;
}
.team-item h4{
    margin:0;
    font-family: Montserrat,sans-serif;
}
.team-item p{
    color: #63636b;
    margin:0;
    margin-top: 3px;
    font-size: 14px;
}
.team-item img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}
/* Team-info section end */
/* Clients section start */
.client-item{
    height:100%;
    padding: 18px 22px;
    margin: 0 20px;
    padding-bottom: 0px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border:#adadb3 solid 1px;
    overflow: hidden;
    transition: ease-out .2s all;
    -webkit-transition: ease-out .2s all;
    -moz-transition: ease-out .2s all;
    -ms-transition: ease-out .2s all;
    -o-transition: ease-out .2s all;
}
.client-item:hover{
    box-shadow:  0 0 0.8125rem 0 rgb(196, 183, 183);
    transition: ease-out .2s all;
    -webkit-transition: ease-out .2s all;
    -moz-transition: ease-out .2s all;
    -ms-transition: ease-out .2s all;
    -o-transition: ease-out .2s all;
}
.client-title{
    display: flex;    
}
.client-name h4{
    font-size: 18px;
    margin: 0;
}
.client-name p{
    margin: 0;
    color: #63636b;
    font-size: 14.2px;
    padding-top: 6px;
}
.client-name{
    margin-left: 18px;
    margin-top: 20px;
}
.client-info{
    font-size: 14px;
    padding-top: 12px;
    color: #63636b;
    line-height: 22px;
}
.client-info p{
    margin: 0;
}
/* Clients section end  */
/* News section start */
.news-item{
    height: 100%;
    background: white;
    margin: 0 15px;
    position: relative;
    padding-bottom: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border:#adadb3 solid 1px;
    overflow: hidden;
    transition: ease-out .2s all;
    -webkit-transition: ease-out .2s all;
    -moz-transition: ease-out .2s all;
    -ms-transition: ease-out .2s all;
    -o-transition: ease-out .2s all;
}
.news-item:hover{
    box-shadow:  0 0 0.8125rem 0 rgb(196, 183, 183);
}
.news-info-title{
    margin:13px 15px;
    margin-right: 20px;
}
.news-item h4{
    color: #3b3b44;
    font-size: 19px;
    margin-top:30px;
    margin-bottom: 10px;
    transition: ease-out .2s all;
}
.news-item h4:hover{
    color: #1b5ebb;
    transition: ease-out .2s all;
}
.news-item p{
    color: #63636b;
    margin:0;
    margin-top: 3px;
    font-size: 14px;
}
.news-item img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.news-day{
    width: 24%;
    padding: 5px 0;
    position: absolute;
    left:38% ;
    top: 62%;
    background-color: #2c7ae7;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.news-day p{
    color: white;
    font-size: 12px;
    text-align: center;
}
/* News section end */
/* footer section start */
#footer, #copyright{
    border-bottom: solid 1px #72727c;
    background-color: #303036;
    width: 100%;
    color: #fff;
}
.footer-item span{
    color:white;
}
.company-sosial-media{
    display: flex;
    font-size: 18px;
    color: white;
    margin-top: 50px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transition: all .1s;
    -webkit-transition: all .1s;
    -moz-transition: all .1s;
    -ms-transition: all .1s;
    -o-transition: all .1s;
}
.company-sosial-icon{
    padding: 0px 1px;
    padding-top: 6px;
    text-align: center;
    width:30px;
    border: 1px solid #868691;;
    background-color: #303036;
    margin: 0px 4px;
    transition: ease-out .1s all;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-transition: ease-out .1s all;
    -moz-transition: ease-out .1s all;
    -ms-transition: ease-out .1s all;
    -o-transition: ease-out .1s all;
}
.company-sosial-icon:hover{
    background-color:#ecf7f6;
    border: 1px solid #ecf7f6;
    color:#303036;
    padding: 0px 1px;
    padding-top: 6px;
    width:30px;
    margin: 0px 4px;
    transition: ease-out .1s all;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-transition: ease-out .1s all;
    -moz-transition: ease-out .1s all;
    -ms-transition: ease-out .1s all;
    -o-transition: ease-out .1s all;
}
.company-sosial-icon .fab{
    color:white;
}
.company-sosial-icon:hover .fab{
    color:#303036;;
}
.company-info {
    padding-right: 100px;
    font-size: 14px;
    line-height: 25px;
    color:#c6cdce;
}
.company-menu{
    margin-right: 50px;
}
.company-menu h4, .company-contacts h4{
    margin-top: 0px;
}
.turn {
    font-size: 14px;
    width:100% ;
    height: 20px;
    margin: 20px 0px;
    overflow: hidden;
    position: relative; 
}
.turnsecond{
    font-size: 14px;
    width:100% ;
    height: 20px;
    margin: 20px 0px;
    overflow: hidden;
    position: relative;
}
.turn1{
    color:#c6cdce;
    position: absolute;
    top: 0px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}
.turn2{
    color:#c6cdce;
    position: absolute;
    top: -20px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}
.turn:hover .turn1 {
    top: 20px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}
.turn:hover .turn2 {
    top: 0px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}
.turnsecond:hover .turn1{
    top: 20px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}
.turnsecond:hover .turn2 {
    top: 0px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}
.company-contacts-item{
    color: #c6cdce;
}
.company{
    margin: 20px 0px;
}
.location i{
    margin-right: 8px;
}
.contacts i{
    margin-right: 9px;
}
.phone1, .phone2{
    color:#c6cdce;  
}
.phone1:hover , .phone2:hover, .company-mail span:hover{
    text-decoration: underline;
}
.company-mail span{
    color:#c6cdce;
}
.company-mail i{
    margin-right: 9px;
}
.company-contacts-form h4{
    color: #fff;
}
.form-email{
color: #c6cdce;
width: 50%;
height: 40px;
border: 1px #c6cdce solid;
padding: 0px 8px;
background-color: #303036;
margin-right: 10px;
border-radius: 6px;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
-ms-border-radius: 6px;
-o-border-radius: 6px;
}
.form-subscribe{
color: white;
width: 30%;
height: 43px;
border: 1px #917cddec solid;
background: linear-gradient(to right,#568ad3 0,#0f58bd 100%);
padding: 0px 0px;
border-radius: 7px;
}
.form-subscribe:hover{
   background: linear-gradient(to left,#568ad3 0,#0f58bd 100%);
}
/* footer section end */
/* footer Copyright start */
.copyright-item{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color:#c6cdce
}
.conditions, .privacy{
    margin-right: 8px;
    color:#c6cdce;
    border-bottom: dashed #c6cdce 1px;
}
.conditions:hover, .privacy:hover{
    border-bottom: solid #c6cdce 1px;
}
/* footer Copyright end */

/* About.html sehifesinin css kodlari buradan baslayir */
/*  crumbs section start  */
#crumbs{
    background-color: #f0f4f8;
}
.crumbs-bread{
    padding: 18px 0;
}
.crumbs-info{
    font-size: 14px;
}
.crumbs-home a{
    color: #63636b;
} 
.crumbs-home a:hover{
    text-decoration: underline;
}
.crumbs-info i{
    color:#2c7ae7;
    padding:0px 7px
}
.crumbs-about{
    color:#2c7ae7;
}
/* crumbs section end  */
/* more-info-about-us section start */
.about-item{
    width: 99%;
}
.about-img{
    height: 400px;
    border: 1px solid #d4d4e1;
    background-color: #f0f4f8;
    border-radius: .625rem;
    overflow: hidden;
}
.about-img img{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.about-item h2{
    font-size: 2rem;
    color: #303036;
}
.about-item h3{
    font-size: 1.75rem;
    color: #303036;
}
.about-item p{
    font-size: 14px;
    color: #303036;
    padding: 5px 0px;
    line-height: 24px;
}
/* more-info-about-us section end */
/* customers section start */
.customers-item{
    width: 210px;
    height: 150px;;
    padding: 16px 16px;
    margin-bottom: 35px;
    border: #c8c8d1 solid 1px;
    background-color: white;
    border-radius: .625rem;
    overflow: hidden;
    object-fit: cover;
    transition: all .25s;
}
.customers-item:hover{
    box-shadow: 0.125rem 0.25rem 1.25rem 0.3875rem rgb(45 45 45 / 13%);
    transition: all .25s;
    border: white solid 1px;
}
.customers-item-img img{
    width: 148px;
    height: 148px;
    object-fit: cover;
    padding-bottom: 20px;
    padding-left: 28px;
}
/* customers section end */