{% extends "admin/base.html" %}


{% block content %}

<h3 class="my-3" style="text-align: center;">Client Add</h3>
<hr>
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-9">
            <form action="{{url_for('clientboxAdd')}}" method='POST' enctype="multipart/form-data">
                {{ form.client_name(class="form-control my-2",placeholder="Enter: Client Name")}}
                {{ form.client_status(class="form-control my-2",placeholder="Enter: Client Status")}}
                {{ form.client_desc(class="form-control my-2",placeholder="Enter: Client Comment")}}
                {{ form.client_img(class="form-control-file my-2")}}
                {{ form.submit(value='Add Client',class='btn btn-primary btn-lg btn-block')}}
            </form>
        </div>
    </div>
</div>

<div class="container marg">
    <div class="row justify-content-center">
        <div class="col-9 ">
            <!-- =====Client Box Start==== -->
            <table class="table table-hover " style="margin:35px 0px; border:1px solid rgba(0,0,0,.075);">
                <thead>
                    <tr style="background-color: rgba(0,0,0,.075); color:blue">
                        <th scope="col">id</th>
                        <th scope="col">Client Name</th>
                        <th scope="col">Client Status</th>
                        <th scope="col">Client Comment</th>
                        <th scope="col">Client Image</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for clientbox in clientboxs %}
                    <tr>
                        <td scope="row">{{clientbox.id}}</td>
                        <td>{{clientbox.client_name}}</td>
                        <td>{{clientbox.client_status}}</td>
                        <td>{{clientbox.client_desc}}</td>
                        <td>{{clientbox.client_img}}</td>
                        <td>
                            <a href="{{url_for('clientboxDelete', id=clientbox.id)}}"><i
                                    class="bi bi-trash-fill"></i></a>
                            <a href="{{url_for('clientboxUpdate', id=clientbox.id)}}"><i
                                    class="bi bi-pencil-square"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <!-- =====Client Box End==== -->
        </div>
    </div>
</div>

{% endblock %}