{% extends "admin/base.html" %}


{% block content %}

<h3 class="my-3" style="text-align: center;">Company Logo Update</h3>
<hr>
<div class="container marg">
    <div class="row justify-content-center">
        <div class="col-9 ">
            <form action="/admin/meniuLogoUpdate/{{logo.id}}" method='POST' enctype="multipart/form-data">
                <input type="text" class="form-control my-2" name='logo_title' placeholder="Enter: Logo Name"
                    value="{{logo.logo_title}}">
                <input type="text" class="form-control my-2" name='logo_url' placeholder="Enter: Logo Url"
                    value="{{logo.logo_url}}">
                <input type="text" class="form-control my-2" name='logo_alt' placeholder="Enter: Company Name"
                    value="{{logo.logo_alt}}">
                <input type="file" class="form-control-file my-2 p-1" name='logo_img' value="{{logo.logo_img}}">
                <input type="submit" class="btn btn-secondary btn-lg btn-block" value='Update Logo'>
            </form>
        </div>
    </div>
</div>


{% endblock %}

