{% extends "admin/base.html" %}


{% block content %}

<h3 class="my-3" style="text-align: center;">Reason Heading Update</h3>
<hr>
<div class="container marg">
    <div class="row justify-content-center">
        <div class="col-9">
            <form action="/admin/reasonHeadingUpdate/{{reasonheading.id}}" method='POST'>
                <input type="text" class="form-control my-2" name='reason_subheading' value="{{reasonheading.reason_subheading}}" placeholder="Enter: Subheading ">
                <input type="text" class="form-control my-2" name='reason_title' value="{{reasonheading.reason_title}}" placeholder="Enter: Heading">
                <input type="submit" class="btn btn-secondary btn-lg btn-block" value='Update Reason Heading'>
            </form>
        </div>
    </div>
</div>

{% endblock %}