{% extends 'layout.html' %}{% block content %}
<h3 class="my-2">Bütün istifadəçilər</h3>
<table class="table table-striped ">
    <thead class=" thead-dark">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
           {% for user in users %}
            <tr>
                <td scope="row">{{user.id}}</td>
                <td>{{user.f_name}}</td>
                <td>{{user.l_name}}</td>
                <td>
                    <a href="/delete/{{user.id}}"><i class="bi bi-trash-fill"></i></a>
                    <a href="/update/{{user.id}}"><i class="bi bi-pencil-square"></i></a>
                    <a href="/detail/{{user.id}}"><i class="bi bi-eye-fill"></i></a>
                </td>
            </tr>
           {% endfor %}
        </tbody>
</table>
{% endblock %}